.product-summary {
  width: 100%;
  .info-summary {
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  border: 1px solid #a9c0ab;
  // border-bottom: 3px solid var(--light-blue);
  padding: 5px;
  background-color: #dce1e5;
}

.card1 {
  background-color: #048c6f;
}
.card2 {
  background-color: #048c6f;
}
.card3 {
  background-color: #048c6f;
}
.card4 {
  background-color: #048c6f;
}
